<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- TODO: annoying warnings:
        Failure in poller thread Activity Poller taskQueue="JsonMaskingWorkflow", namespace="default": 3
        io.grpc.StatusRuntimeException: UNKNOWN: HTTP status code 204
        -->
        <Logger name="io.temporal.internal.worker.Poller" level="error"/>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
